div#app {
  width: 100%;
  height: 100vh;
  font-family: 'Roboto Mono';
}

.screenshots-drawer {
  position: fixed;
  display: flex;
  flex-direction: column;
}

.ag-theme-material {
  --ag-value-change-value-highlight-background-color: #f9ff99;
}

.ag-popup-child .ag-filter {
  width: 300px;
  height: 390px;
}

.app-title {
  font-family: 'Montserrat';
}

.vc-container {
  font-family: 'Roboto Mono' !important;
}

:root {
  --vs-font-size: 1em!important;
}

.ag-overlay-panel {
  display: flex;
  width: 100%;
  height: calc(100% - 56px);
  margin-top: 56px;
}

.ag-theme-material {
  --ag-font-family: 'Roboto Mono'!important;
}

.v--default-css .c-toast {
  font-family: 'Roboto Mono'!important;
}